.bio-text {
  padding: 1rem;
  font-size: 15px !important;
  line-height: 30px !important;
  background-color: #ffffff10;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
}
